.Terminal {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: start;
    background-color: black;
    background-image: radial-gradient(
      rgba(0, 150, 0, 0.75), black 120%
    );
    width: 100%;
    height: 100%;
  }

.Line {
    margin: 5px;
    color: antiquewhite;
    font: 1.1rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}